* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1280px;
    width:100%;
    margin-inline: 40px;
}

.navbar {
    display: flex;
    justify-content:space-between;
}

.navbar-logo-name {
    display:flex;
    font-size: 24px;
}
#logo{
    color:aliceblue;
    padding:6px 10px;
    background:#333;
    font-size: 16px;
}
#name{
    color:rgb(11, 11, 11);
    padding:6px 10px;
    letter-spacing: 2px;
    font-size: 16px;
}

.navbar span {
    font-size: 24px;
    color: #f4f0f0;
    background:#e34012 ;
    border-radius: 999px;
}

#information {
    margin-top: 40px;
}

.info-header {
    display: flex;   
}

.profile-img img {
    width: 100%;
    max-width: 300px;
}

.profile-details {
    padding-left: 25px;
}

.profile-details h2 {
    font-size: 30px;
}

.profile-details p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #555;
}

.stats-container {
    display: flex;
    margin-top: 20px;
}

.stat-item {
    width: 30%;
}

.stat-item h3 {
    font-size: 22px;
    color: rgb(246, 74, 44);
}

.stat-item p {
    color: #696969;
    font-size: 15px;
    margin-top: 10px;
}

.about-me {
    flex-direction: column;
    margin-top: 40px;
}

.about-me h4 {
    display:inline-block;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.about-me p {
    margin-top: 10px;
    line-height: 1.6;
    color: #5d5c5c;
}
.download-resume-btn{
    display:flex;
    flex-direction: column;
}
.download-resume-btn button {
    font-size: 12px;
    margin-top: 30px;
    padding: 10px 20px;
    color: red;
    border-radius: 9999px;
    letter-spacing: 2px;
    border: 1px solid red;
    align-self:center;

}

.skills {
    display: flex;
    margin-top: 40px;
}
.skills-group{
    margin-right: 10px;
}
.skills-group h4 {
    display:inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.skills-list p {
    display: inline-block;
    margin-top: 7px;
    padding: 5px 7px;
    font-size: 14px;
    border: 1px solid #807e7e;
    border-radius: 9999px;
}

#work-experience {
    margin-top: 40px;
    flex-direction: column;
}

#work-experience > h4 {
    display:inline-block;
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}

.work-item {
    display:flex;
    margin-top: 30px;
}
.work-item2{
    margin-left: 10px;
}
.work-item p, .work-item h4 {
    color: #484848;
    margin-bottom: 10px;
}

.work-item ul {
    margin-top: 10px;
    padding-left: 20px;
}

.work-item li {
    color: #4b4a4a;
    margin-bottom: 10px;
}

.company-name {
    font-size: 22px;
    color: #5d5c5c;
    margin-bottom: 10px;
}
