* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #0a0a16;
    color: white;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #ffc857;
}

ul {
    list-style: none;
}

header {
    letter-spacing: 1.5px;
    background: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 2rem;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-left img {
    height: 30px;
}

.header-left .logo-L {
    font-size: 10px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
}
.header-left .logo-A{
    width: 75px;
    height: 24px;
    fill: #f9f9f9;
    position: relative;
    margin: 0;
}
.header-left .logo-A:hover{
    fill:#d40505;
}

nav {
    gap: 2.5rem;
    padding: 2px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:15px;
}

.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: white;
    padding: 3px 15px;
    display: block;
    font-size: 13px;
    font-weight: bold;
    text-transform:uppercase;
    border-radius: 5px;
}

.menu-item:hover > a {
    color: #927027;
    background-color:rgb(41, 41, 41);
}
.menu-item a::after {
    content: '';
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 0;
    height: 3px;
    background: #01bed7;
    border-radius: 5px;
  
}

.menu-item a:hover::after {
    width: 100%;
}
/* Định dạng menu con */
.sub-menu {
    list-style: none;
    padding: 15px 18px;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2b2b2b;
    display: none;
    min-width: 220px;
    z-index: 10;
}



.sub-menu a {
    color: white;
    padding: 10px 15px;
    display: block;
    font-size: 13px;
}

.sub-menu a:hover {
    background-color: #555;
}

/* Hiển thị menu con khi hover */
.menu-item:hover .sub-menu {
    display: block;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.header-right .icon-A {
    width:44px;
    height:43px;
    padding: 11px 11px; 
    fill:#f9f9f9;
    background: #2a2929;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header-right .icon-B{
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width:35px;
    height:33px;
    padding: 8px 8px;
}
.header-right .icon-B:hover{
    background:#2a2929;
    border-radius: 8px;
}

.header-right .icon img {
    width: 20px;
    height: 20px;
}

.header-right .play-now {
    padding: 0.4rem 1.3rem;
    background: #00c2db;
    color: #212121;
    font-weight: bold;
    border-radius: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: relative;
    cursor: pointer;
    transition: color 1s cubic-bezier(0.06, 0.81, 0, 0.98);
}
.header-right .play-now:hover {
    color:#dea221;
}
.content-first {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backdrop-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


.btn-play {
    padding: 20px 30px;
    font-size: 1.2rem;
    background-color: #bca956;
    color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    border:1px solid white;
    margin-top: 35px;
}

.btn-play:hover {
    background-color: #d8bf6b;
}

/**/
.content-2 {
    
    padding: 50px 20px;
    background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/4c59eeaf4adc540fd42745bd5c71563fba8f6288-3840x1328.png?auto=format&amp;fit=fill&amp;q=80&amp;w=1845");
}


h2 {
    text-wrap: balance;
    word-break: break-word;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
}

.cards {
    display: flex;
    justify-content: space-between; /* Trải đều card */
    gap: 20px; /* Khoảng cách giữa các card */
    flex-wrap: wrap; /* Xuống dòng khi màn hình nhỏ */
}

.card { 
    overflow: hidden;
    flex: 1;
    max-width: 470px; /* Giữ kích thước hợp lý */
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 250px;
    transition: transform 0.3s ease-in-out;
}

.card:hover img {
    transform: scale(1.1); /* Phóng to ảnh khi hover */
}

.card-body {
    padding: 10px;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #222;
}

.card p {
    font-size: 1.0rem;
    color: #4f4f4f;
}

/**/
.content-3 {
    background-color: white; /* Nền trắng */
    padding: 60px 20px;
}

.container-center-3 {
    display: flex;
    flex-direction: row; /* Các phần tử sắp xếp theo hàng ngang */
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Nội dung bên trái */
.text-content-3 {
    width: 48%;
    text-align: left;
}

 h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}
.text-content-3 h2{
    font-size: 23px;
    font-weight: none;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-style: normal;
}
.text-content-3 h1{
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 64px;
    text-align: center;
    line-height: 72px;
    color: rgb(10, 20, 40);
}
.description-text-3 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
}

.button-group {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.icon3 {
    display: flex;
    gap: 15px;
}
.icon3 img {
    width:80%;
    height:60%;
    margin-top: 20px;
    margin-left: 5px;
}
.icon3 p {
    color:#2b2b2b;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}
.btn3-1 {
    background-color: #d6c170;
    color: #2e2e2e;
    font-weight: none;
    padding: 24px 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    text-transform: uppercase;
}

.btn3-2 {
    background-color: #53c3efe4;
    color: rgb(46, 46, 46);
    font-weight: none;
    text-transform: uppercase;
    padding: 19px 29px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.btn3-1:hover {
    background-color: #e8d18b;
}

.btn3-2:hover {
    background-color: #97daf7;
}

/* Ảnh & Tên Champion bên phải */
.champion-image-container {
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.champion-img {
    width: 100%;
    max-width: 650px;
}

.champion-info {
    margin-top: 10px;
    padding: 12px 16px;
    text-align: center;
    width: fit-content;
}

.champion-name {
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.champion-role {
    margin-top: 7px;
    font-size: 1rem;
    color: #666;
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .container-center-3 {
        flex-direction: column; /* Các phần tử sẽ xếp theo chiều dọc */
        text-align: center;
    }

    .text-content-3, .champion-image-container {
        width: 100%;
        margin-bottom: 20px; /* Tạo khoảng cách khi xếp thành cột */
    }
}
/**/
/* Định dạng phần chứa */
.container-4 {
    display: flex;
    flex-direction: row; /* Xếp ngang: Ảnh bên trái, nội dung bên phải */
    align-items: center;
    justify-content: space-between;
    background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/a6f94cd5ed222d3b99e535f17cd9592d3c716bb5-3840x1616.png?auto=format&amp;fit=fill&amp;q=80&amp;h=1020");
    padding: 50px;
}

/* Ảnh bên trái */
.featured-champion-img {
    width: 100%;
    height:100%; 
    max-width: 700px; /* Giới hạn kích thước */
    border-radius: 10px; /* Bo góc */
}

.title-text-4 {
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color:white;
}
.style-4{
    font-size: 68px;
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color:white;
    margin-top: -15px;
}
.description-text-4 {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    color:white;
}

.btn-play4 {
    background-color: #bfa366;
    color: #232323;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s;
    padding:20px 25px;
}

.btn-play4:hover {
    background-color: #c1b082;
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .container-4 {
        flex-direction: column; /* Xếp dọc khi màn hình nhỏ */
        text-align: center;
    }

    .featured-champion-img,
    .text-content-4 {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
        padding-left: 0;
    }
}
/**/
.content-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/0eb5bc3bbb7794eceea3a5e7948906e1cbcd027f-5120x1810.png?auto=format&amp;fit=fill&amp;q=80&amp;w=2400");
    color: white;
    padding: 50px 10%;
    gap: 35px;
}

.left-content {
    flex: 1;
    text-align: center;
}
.left-content .play-button{
    font-size: 16px;
    color:rgb(30, 30, 30);
    font-weight: normal; 
}
.left-content h1 {
    font-size: 24px;
    margin-bottom: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.left-content h1 em {
    font-style: italic;
}

.left-content p {
    font-size: 18px;
    margin: 10px 0 20px;
}

.play-button {
    background-color: #b99b67; 
    font-size: 16px;
    color:rgb(30, 30, 30);
    font-weight: normal; 
    padding: 24px 34px;
    border: none;
    cursor: pointer;
    margin-top: 35px;  
}
.play-button:hover{
    background-color: #c5ac82;
    transition: color 0.6s cubic-bezier(0.06, 0.81, 0, 0.98);
}
.play-modes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}
.play-modes div {
    text-align: center;
}
.left-content .tilte-play {
    font-family: "Beaufort for LOL", sans-serif;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 64px;
    color:white;
}
.play-modes img {
    width: 70px;
    height: 70px;
    filter: brightness(0.7);
    transition: 0.3s;
}

.play-modes div:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

.play-modes p {
    font-size: 13px;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
    max-width: 90px; /* Giới hạn chiều rộng của nội dung */
    white-space: normal; /* Cho phép xuống hàng */
    word-wrap: break-word;
    overflow:hidden; 
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 17px;
}
.right-content h2{
    margin-top: 40px;
    color:white;
    font-size: 22px; /* Điều chỉnh kích thước tiêu đề */
    font-weight: bold; /* Làm đậm tiêu đề */
    font-style: italic; /* In nghiêng tiêu đề */
}
.right-content video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
    border: 2px solid #b99b67;
    padding:20px 20px;
}

.game-mode-title {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
}



.content-last {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.background-last {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-last video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-play-last {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bfa366;
    color: #272727;
    font-size: 16px;
    padding: 25px 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: normal;
}

.btn-play-last:hover {
    background-color: #c5b381;
}

